@use "vars" as *;

#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	z-index: 999;
	@include flex(end,center,wrap);
	@include mq(tb){
		justify-content: space-between;
	}
	&.js-fixed{
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
	}
	.header-logo{
		@include flex(center,center,wrap);
		width: clamp(250px,20vw,300px);
		padding: 0 15px;
		position: absolute;
		@include v-align;
		left: 0;
		@include mq(tb){
			height: 60px;
			position: static;
			transform: translateY(0);
		}
		@include mq(xs){
			width: 220px;
		}
		img{
			width: 235px;
			@include mq(tb){
				width: 211px;
			}
		}
	}
	.header-nav{
		@include flex(end,cennter,wrap);
		@include mq(tb){
			display: none;
			position: absolute;
			top: 60px;
			left: 0;
			right: 0;
			height: calc(100vh - 60px);
			padding: 15px 0 60px;
			overflow-y: scroll;
			background: white;
			&.active{
				display: block;
			}
		}
		&__menu{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-right: 15px;
			@include mq(tb){
				display: block;
				margin-right: 0;
			}
			&-item{
				padding: 0 clamp(3px,0.9vw,15px);
				a{
					display: block;
					@include font-size(14);
					font-weight: 500;
					color: $dark;
					position: relative;
					padding: 15px 0;
					@include mq(tb-min){
						&:after{
							content: "";
							width: 8px;
							height: 8px;
							margin: 0 auto;
							background: url("../img/common/dots.png")no-repeat;
							background-size: 100%;
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							opacity: 0;
							visibility: hidden;
							@include smooth-transition;
						}
						&:hover,&.active{
							color: $gray;
							opacity: 1;
							&:after{
								opacity: 1;
								visibility: visible;
							}
						}
					}
					@include mq(tb){
						border-bottom: 1px solid #E6ECEE;
						padding: 15px;
						&:after{
							content: "";
							width: 6px;
							height: 12px;
							background: url("../img/common/arrow-right-02.png")no-repeat;
							background-size: 100%;
							position: absolute;
							@include v-align;
							right: 15px;
						}
					}
				}
			}
		}
	}
	.header-item{
		width: 320px;
		@include flex(0,0,wrap);
		@include mq(xl){
			width: 120px;
		}
		@include mq(tb){
			width: 60px;
			position: absolute;
			top: 0;
			right: 60px;
		}
		img{
			display: block;
			width: 30px;
		}
		a{
			height: 90px;
			@include flex(center,center,wrap);
			color: white;
			@include font-size(15);
			font-weight: 500;
			@include mq(xl){
				height: 60px;
			}
			&:hover{
				opacity: 1;
			}
		}
		&__tel{
			width: 90px;
			background: rgb(246,248,248);
			background: linear-gradient(90deg, rgba(246,248,248,1) 0%, rgba(223,232,236,1) 100%);
			@include mq(xl){
				width: 60px;
			}
		}
		&__web{
			width: calc(100% - 90px);
			//background: rgb(128,185,205);
			//background: linear-gradient(90deg, rgba(128,185,205,1) 0%, rgba(62,112,132,1) 100%);

			background: rgb(128,185,205);
			background: linear-gradient(90deg, rgba(128,185,205,1) 0%, rgba(94,148,168,1) 51%, rgba(128,185,205,1) 100%);
			background-position: 1% 50%;
			background-size: 200% auto;
			@include mq(xl){
				width: 60px;
				span{
					display: none;
				}
			}
			&:hover{
				background-position: 99% 50%;
			}
			img{
				margin-right: 10px;
			}
		}
	}
	.header-note{
		@include fts(14,23);
		text-align: center;
		padding: 30px 20px;
		p{
			margin-bottom: 20px;
		}
		&__tel{
			@include flex(center,center,wrap);
			width: 100%;
			max-width: 335px;
			height: 80px;
			background: rgb(223,232,236);
			background: linear-gradient(90deg, rgba(223,232,236,1) 0%, rgba(246,248,248,1) 100%);
			@include font-size(32);
			color: #3E7084;
			letter-spacing: 1px;
			font-weight: 500;
			font-family: $font-en;
			margin-bottom: 20px;
			span{
				position: relative;
				padding: 0 0 0 45px;
				&:before{
					content: "";
					width: 36px;
					height: 36px;
					background: url("../img/common/icon-01.png")no-repeat;
					background-size: 100%;
					position: absolute;
					@include v-align;
					left: 0;
				}
			}
		}
		&__email{
			@include flex(center,center,wrap);
			width: 100%;
			max-width: 335px;
			height: 80px;
			background: rgb(62,112,132);
			background: linear-gradient(90deg, rgba(62,112,132,1) 0%, rgba(128,185,205,1) 100%);
			@include font-size(16);
			color: white;
			letter-spacing: 1px;
			font-weight: 500;
			span{
				position: relative;
				padding: 0 0 0 40px;
				&:before{
					display: block;
					content: "";
					width: 30px;
					height: 30px;
					background: url("../img/common/icon-05.png")no-repeat;
					background-size: 100%;
					position: absolute;
					@include v-align;
					left: 0;
				}
			}
		}
	}
	.js-mobile {
		width: 60px;
		height: 60px;
		background: rgb(62,112,132);
		background: linear-gradient(90deg, rgba(62,112,132,1) 0%, rgba(128,185,205,1) 100%);
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		z-index: 12;
		display: none;
		@include mq(tb){
			@include flex(center,center);
		}
		span{
			position: relative;
			display: block;
			width: 25px;
			height: 2px;
			background: white;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: white;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -3px;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -3px;
			}
		}
		&--close {
			span{
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: white;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
}


.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}