@use "vars" as *;
.mv-slider{
	width: calc(100% - 320px);
	@include mq(tb){
		width: 100%;
	}
	.slick-arrow,.slick-dots{
		display: none !important;
	}
	&__item{
		img{
			width: 100%;
			@include ob;

			@include mq(tb-min){
				height: calc(100vh - 90px);
				min-height: 720px;
			}
			@media only screen and (min-width: 1025px) and (max-width: 1300px) {
				height: calc(100vh - 60px);
			}
		}
	}
}
.mv-block{
	width: 320px;
	background: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	@include mq(tb){
		width: 100%;
		position: relative;
		background: none;
		text-align: center;
	}
	&__heading{
		height: calc(100% - 160px);
		width: 100%;
		position: relative;
		@include mq(tb-min){
			-webkit-writing-mode: vertical-rl;
			-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
		}
		@include mq(tb){
			height: auto;
		}
		&-note{
			background: #FAFAFA;
			@include font-size(12);
			color: #3E7084;
			position: absolute;
			top: 0;
			right: 0;
			padding: 15px 6px;
			letter-spacing: 4px;
			@include mq(tb){
				position: static;
				display: block;
				max-width: 125px;
				margin: 0 auto 10px;
				letter-spacing: 1px;
				text-align: center;
				padding: 7px 6px;
			}
			span{
				@include mq(tb-min){
					transform: rotate(-90deg);
					display: inline-block;
					position: relative;
					left: 4px;
					margin: 0 0 4px;
				}
			}
		}
		&-ttl{
			@include flex(center,center,wrap);
			text-align: center;
			width: 100%;
			height: calc(100% - 222px);
			@include fts(26,37);
			font-weight: 500;
			color: $gray;
			letter-spacing: 11px;
			@include mq(tb){
				@include font-size(22);
				letter-spacing: 1px;
				height: auto;
				margin-bottom: 10px;
			}
			span{
				@include mq(tb-min){
					display: block;
					position: relative;
					&:nth-child(2){
						top: 36px;
					}
				}
			}
		}
		&-ct{
			@include flex(center,center,wrap);
			@include fts(14,20);
			letter-spacing: 6px;
			width: 100%;
			height: 222px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			@include mq(tb){
				position: static;
				height: auto;
				padding: 0 15px;
				letter-spacing: 1px;
				margin-bottom: 15px;
			}
		}
	}
	&__items{
		@include flex(0,0,wrap);
		height: 160px;
		@include mq(tb){
			height: 120px;
		}
		.mv-block__item{
			border: 1px solid #DCE4E8;
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			text-align: center;
			flex-wrap: wrap;
			@include fts(12,19);
			letter-spacing: 1px;
			padding: 10px;
			img{
				display: block;
				width: 45px;
				margin: 0 auto 20px;
				@include mq(tb){
					width: 35px;
					margin: 0 auto 10px;
				}
			}
			p{
				width: 100%;
			}
			&:nth-child(1){
				border-left: none;
			}
			&:last-child{
				border-right: none;
			}
		}
	}
}
.sec-mv{
	@include flex(0,0,wrap);
	height: calc(100vh - 90px);
	min-height: 720px;
	@include mq(xl){
		height: calc(100vh - 60px);
	}
	@include mq(tb){
		height: auto;
		display: block;
		min-height: 100px;
	}
}

.sec-policy{
	padding: 163px 3.5% 134px;
	@include mq(){
		padding: 50px 0 78px;
	}
}
.policy-block{
	@include flex(0,0,wrap);
	@include mq(){
		display: block;
		padding: 0 20px;
	}
	&__img{
		width: 46.2%;
		@include mq(){
			width: 100%;
			margin-bottom: 29px;
		}
		&--sticky{
			@include mq(md-min){
				position: sticky;
				top: 120px;
			}
		}
		.sticky-box{
			position: relative;
			img{
				@include smooth-transition;
			}
			.img-fade{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				opacity: 0;
				visibility: hidden;
			}
			&.change-img{
				.img-01{
					opacity: 0;
					visibility: hidden;
				}
				.img-02{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&__ct{
		width: 53.8%;
		@include fts(16,36);
		padding: 0 0 0 6%;
		letter-spacing: 1.5px;
		@include mq(){
			width: 100%;
			@include fts(15,30);
			padding: 0;
		}
		.c-ttl__01{

			@include mq(md-min){
				.c-ft--jp{
					@include fts(28,50);
				}
			}
		}
		p{
			margin-bottom: 41px;
			@include mq(){
				margin-bottom: 20px;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}


.sec-promise{
	padding: 0 0 150px;
	@include mq(){
		padding: 0 0 77px;
	}
}

.writing-block{
	@include flex(0,0,wrap);
	&__heading{
		width: 215px;
		@include mq(){
			width: 100%;
		}
	}
	&__ct{
		width: calc(100% - 215px);
		@include mq(){
			width: 100%;
		}
	}
}

.promise-list{
	margin-bottom: 59px;
	@include mq(){
		&.js-promise-list{
			margin: 0 -20px 26px;
			.slick-list{
				padding: 0 6% !important;
			}
			.slick-slide{
				padding: 0 5px;
			}
			.slick-arrow{
				display: none !important;
			}
			.slick-dots{
				position: static;
				@include flex(center,center);
				padding: 10px 0 0;
				li{
					height: 10px;
					width: 10px;
					button{
						width: 10px;
						height: 10px;
						border-radius: 50%;
						border: none;
						background: #E6ECEE;
						&:before{
							display: none;
						}
					}
					&.slick-active{
						button{
							background: $gray;
						}
					}
				}
			}
		}
	}
	&__item{
		margin-bottom: 60px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__box{
		@include flex(0,0,wrap);
		@include mq(){
			border: 1px solid #E6ECEE;
			height: 100%;
		}
	}
	&__img{
		width: 280px;
		@include mq(){
			width: 100%;
		}
		img{
			width: 100%;
		}
	}
	&__ct{
		width: calc(100% - 280px);
		padding: 0 0 0 4%;
		letter-spacing: 1.5px;
		@include mq(){
			width: 100%;
			padding: 28px 20px;
		}
		&-number{
			display: block;
			position: relative;
			color: $gray;
			line-height: 1;
			@include font-size(14);
			font-family: $font-en;
			letter-spacing: 1px;
			padding: 0 0 0 20px;
			margin-bottom: 18px;
			@include mq(){
				padding: 0;
				text-align: center;
				margin-bottom: 13px;
			}
			&:before{
				content: "";
				width: 13px;
				height: 1px;
				background: $gray;
				position: absolute;
				@include v-align;
				left: 0;
				@include mq(){
					display: none;
				}
			}
		}
		&-ttl{
			display: block;
			@include font-size(18);
			line-height: 1.4;
			font-weight: 500;
			letter-spacing: 2px;
			margin-bottom: 10px;
			@include mq(){
				@include fts(16,27);
				text-align: center;
				letter-spacing: 1px;
				padding: 0 15px;
				margin-bottom: 8px;
			}
		}
	}
}

.sec-service{
	background: #FAFAFA;
	padding: 100px 0;
	@include mq(){
		padding: 81px 0 74px;
	}
	&.service-page{
		background: white;
		@include mq(){
			padding-top: 50px;
		}
	}
}
.service-list{
	@include flex(0,0,wrap);
	&__item{
		width: 25%;
		@include mq(){
			width: 50%;
			&:nth-child(2n){
				.service-list__box{
					border-right: 1px solid #DCE4E8;
				}
			}
			&:nth-child(1),&:nth-child(2){

				.service-list__box{
					border-top: 1px solid #DCE4E8;
				}
			}
		}
		&:last-child{
			@include mq(md-min){
				.service-list__box{
					border-right: 1px solid #DCE4E8;
				}
			}

		}
	}
	&--02{
		margin-bottom: 60px;
		@include mq(){
			margin-bottom: 28px;
		}
		.service-list__item{
			width: 20%;
			@include mq(){
				width: 50%;
				&:last-child{
					width: 100%;
					.service-list__box{
						border-right: 1px solid #DCE4E8;
						justify-content: flex-start;
					}
				}
				&:nth-child(1),&:nth-child(2){
					.service-list__box{
						border-top: none;
					}
				}
				.service-list__box{
					padding: 10px;
					span{
						width: auto;
						padding: 0 40px 0 0;
						@include mq(xs){
							padding: 0 10px 0 0;
						}
					}
					img{
						margin: 0 10px 0 0;
					}
				}
			}
		}
		.service-list__box{
			border-top: none;
			height: 170px;
			@include mq(){
				height: 75px;
			}
			img{
				width: 60px;
				@include mq(){
					width: 40px;
				}
			}
		}
	}
	&__box{
		width: 100%;
		height: 222px;
		@include flex(center,center,wrap);
		align-content: center;
		@include font-size(15);
		text-align: center;
		font-weight: 500;
		color: $dark;
		background: white;
		@include smooth-transition;
		border: 1px solid #DCE4E8;
		border-right: none;
		position: relative;
		@include mq(){
			height: 175px;
			@include flex(14,20);
			border-top: none;
		}
		&:after{
			content: "";
			width: 10px;
			height: 10px;
			background: url("../img/common/af.png")no-repeat;
			background-size: 100%;
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
		&:hover{
			z-index: 1;
			box-shadow: 0 0 20px 0 rgba(#3E7084,0.3);
		}
		span{
			display: block;
			width: 100%;
		}
		img{
			display: block;
			width: 70px;
			margin-bottom: 10px;
			@include mq(){
				width: 65px;
			}
		}
	}
}

.sec-news{
	padding: 150px 0;
	@include mq(){
		padding: 81px 0 73px;
	}
}
.news-list{
	margin-bottom: 60px;
	@include mq(){
		@include fts(14,20);
		margin-bottom: 28px;
	}
	&__item{
		a{
			@include flex(0,0,wrap);
			color: $dark;
			border: 1px solid #DCE4E8;
			border-bottom: none;
			position: relative;
			letter-spacing: 1px;
			padding: 14px 35px 14px 21px;
			@include mq(){
				padding: 21px 23px 18px 21px;
			}
			&:after{
				content: "";
				width: 10px;
				height: 10px;
				background: url("../img/common/af.png")no-repeat;
				background-size: 100%;
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
			span{
				display: block;
				color: #8A9BA1;
				position: relative;
				@include mq(){
					@include font-size(13);
				}
				&:nth-child(1){
					padding: 0 18px 0 0;
					margin: 0 12px 0 0;
					&:after{
						content: "";
						width: 7px;
						height: 1px;
						background: #8A9BA1;
						position: absolute;
						@include v-align;
						right: 0;
					}
				}
			}
			p{
				width: 100%;
				padding: 7px 0 0 0;
				overflow: hidden;
				text-overflow: ellipsis;
				@include mq(md-min){
					white-space: nowrap;
				}
				@include mq(){
					-webkit-line-clamp: 2;
					height: 50px;
					display: -webkit-box;
					-webkit-box-orient: vertical;
				}
			}
			&:hover{
				z-index: 1;
				box-shadow: 0 0 20px 0 rgba(#3E7084,0.3);
			}
		}
		&:last-child{
			a{
				border-bottom: 1px solid #DCE4E8;
			}
		}
	}
}

.sec-question{
	padding: 100px 0;
	background: #FAFAFA;
	@include mq(){
		padding: 82px 0 75px;
	}
}
.question-list{
	@include flex(0,0,wrap);
	background: white;
	margin-bottom: 43px;
	@include mq(){
		margin-bottom: 35px;
	}
	&__item{
		width: 33.333%;
		padding: 42px 0;
		position: relative;
		@include mq(){
			width: 100%;
			padding: 0 20px;
			&:nth-child(1){

				&:before{
					display: block;
				}
				.question-list__box{
					border-top: none;
				}
			}
		}
		&:last-child{
			.question-question__box{
				border-right: none;
			}
		}
		&:before{
			content: "";
			width: 40px;
			height: 5px;
			background: #3E7084;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			@include mq(){
				display: none;
			}
		}
	}
	&__box{
		border-right: 1px solid #DCE4E8;
		@include fts(16,23);
		letter-spacing: 1px;
		text-align: center;
		font-weight: 500;
		padding: 42px 15px;
		@include mq(){
			border-right: none;
			border-top: 1px solid #DCE4E8;
			padding: 39px 0;
		}
	}
}

.sec-contact{
	padding: 100px 0;
	background: url("../img/common/contact-bg.jpg")no-repeat;
	background-size: cover;
	color: white;
	@include mq(){
		background: url("../img/common/contact-bg-sp.jpg")no-repeat;
		background-size: cover;
		padding: 81px 0;
		p{
			margin-bottom: 12px;
			&:nth-child(2){
				@include fts(13,25);
			}
		}
	}
	.c-ttl__01{
		span{
			color: white;
		}
	}
}
.contact-tel{
	@include flex(center,center);
	font-family: $font-en;
	@include font-size(40);
	font-weight: 500;
	color: white;
	letter-spacing: 1px;
	@include mq(){
		@include font-size(32);
		max-width: 334px;
		height: 80px;
		border: 1px solid white;
		margin: 0 auto 20px;
	}
	img{
		width: 50px;
		margin: 0 10px 0 0;
		@include mq(){
			width: 36px;
		}
	}
	span{
		display: block;
		position: relative;
		padding: 0 0 0 65px;
		@include mq(){
			padding: 0 0 0 47px;
		}
		&:before{
			content: "";
			width: 50px;
			height: 50px;
			background: url("../img/common/icon-01-w.png")no-repeat;
			background-size: 100%;
			display: block;
			position: absolute;
			@include v-align;
			left: 0;
			@include mq(){
				width: 36px;
				height: 36px;
			}
		}
	}
}