@use "vars" as *;
.treatment-detail{
	max-width: 860px;
	margin: 0 auto;
	letter-spacing: 1px;
	@include fts(16,28.8);
	@include mq(){
		@include fts(15,27);
		text-align: justify;
	}
	&__item{
		margin-bottom: 70px;
		@include mq(){
			margin-bottom: 60px;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	img{
		width: 100%;
		margin-bottom: 25px;
	}
	p{
		margin-bottom: 20px;
		@include mq(){
			margin-bottom: 10px;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	strong{
		@include font-size(18);
	}
	a{
		color: #3E7084;
		text-decoration: underline;
	}
	&--ol{
		counter-reset: section;
		ol{
			margin-bottom: 30px;
			@include mq(){
				margin-bottom: 20px;
			}
			li{
				position: relative;
				padding: 0 0 0 30px;
				&:before{
					counter-increment: section;
					content: counters(section, ".") ".";
					position: absolute;
					top: 0;
					left: 0;
					text-align: right;
					width: 23px;
				}
			}
		}
	}

	.treatment-detail__item--p{
		p{
			margin-bottom: 50px;
			@include mq(){
				margin-bottom: 30px;
			}
		}
	}
	&--count{
		counter-reset: section;
		&__item{
			.c-ttl__04{
				padding-left: 25px;
				&:before{
					counter-increment: section;
					content: counters(section, ".") ".";
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}