<section class="sec-contact">
	<div class="inner">
		<h2 class="c-ttl__01 c-al--c mbpc-60 js-scrollin">
			<span class="c-ft--en">Contact</span>
			<span class="c-ft--jp">お問い合わせ</span>
		</h2>
		<div class="heading-note mbpc-35 mbsp-24 c-txt__basic js-scrollin">
			<p>
				ご予約やご質問は、<br class="sp">お電話またはお問い合わせフォームより<br class="sp">お気軽にご連絡ください。<br>
			</p>
			<p>※当院は予約制となっております。<br class="sp">ご来院の前にご予約をお願いいたします。</p>
		</div>
		<a href="tel:0973800X0X" class="contact-tel mbpc-38 js-scrollin"><span>09-7380-0X0X</span></a>
		<a href="" class="c-btn__02 c-btn__02--ema js-scrollinl">
			<span>お問い合わせはこちら</span>
		</a>
	</div>
</section>