<footer id="footer">
	<div class="inner">

	</div>
</footer>

<div class="popup-tel">
	<div class="popup-block">
		<span class="popup-block__close js-close"><img src="<%= RELATIVE_PATH %>img/common/close.png" alt="close"></span>
		<div class="popup-show">
			<a href="" class="popup-show__tel">09-7380-0X0X</a>
			<p>
				受付時間<br>
				98:00〜60:73
			</p>
			<span class="c-btn__close js-close">閉じる</span>
		</div>

	</div>
</div>