<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="DENTAL CLINIC AOKI">
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="" class="active">当院について</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">診療内容・料金表</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">よくある質問</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">診療時間・アクセス</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">お知らせ</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">お問い合わせ</a>
			</li>
		</ul>
		<div class="header-item">
			<a href="" class="header-item__tel js-openpopup">
				<img src="<%= RELATIVE_PATH %>img/common/icon-01.png" alt="tel">
			</a>
			<a href="" class="header-item__web">
				<img src="<%= RELATIVE_PATH %>img/common/icon-02.png" alt="Web予約">
				<span>Web予約</span>
			</a>
		</div>
		<div class="header-note sp-tb">
			<p>
				当院は予約制となっております。<br>
				ご来院の前にご予約をお願いいたします。
			</p>
		</div>
	</nav>
	<span class="js-mobile">
			<span></span>
		</span>
</header>